App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  margin-bottom: auto !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addForm {
  background: linear-gradient(to bottom, #0099ff 0%, #fff 100%);
}
.addForm input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #a39e9e;
  padding: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  height: 63px;
  border-radius: 0px;
}

/* .homeLinks {
  width: 40%;
  margin: 200px auto;
}
 */
.homeLinks a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin: 50px;
  /* width: 50%;
 */
  background-color: dodgerblue;
  display: block;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}
.login,
.homeLinks {
  background: linear-gradient(to bottom, #0099ff 0%, #fff 100%);
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.account-login {
  width: 500px;
}
.form-control:focus {
  box-shadow: none;
}
p a {
  padding-left: 2px;
}
.account-login h1 {
  font-size: 25px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}
.login-form input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #a39e9e;
  padding: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  height: 63px;
  border-radius: 0px;
}
.login-form {
  background: #fff;
  float: left;
  width: 100%;
  padding: 40px;
  border-radius: 5px;
}
.btn {
  width: 100%;
  background: #009cff;
  font-size: 20px;
  padding: 11px;
  color: #fff;
  border: 0px;
  margin: 10px 0px 20px;
}
.btn:hover {
  color: #fff;
  opacity: 0.8;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #747474;
}

@media (max-width: 767px) {
  .account-login {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .login-form {
    width: 70%;
    margin: auto;
  }
}
p {
  text-align: center;
}




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.addForm {
  background: linear-gradient(to bottom, #0099ff 0%, #fff 100%);
}
.addForm input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #a39e9e;
  padding: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  height: 63px;
  border-radius: 0px;
}

 .homeLinks {
  width: 40%;
  margin: 200px auto;
} */
/*  
 .homeLinks a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin: 50px;
   width: 50%;
 
  background-color: dodgerblue;
  display: block;
  text-align: center;
} */
/* 
 {
  margin: 0px;
  padding: 0px;
} */
/* .login,
.homeLinks {
  background: linear-gradient(to bottom, #0099ff 0%, #fff 100%);
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.account-login {
  width: 500px;
}
.form-control:focus {
  box-shadow: none;
}
p a {
  padding-left: 2px;
}
.account-login h1 {
  font-size: 25px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}
.login-form input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #a39e9e;
  padding: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
  height: 63px;
  border-radius: 0px;
}
.login-form {
  background: #fff;
  float: left;
  width: 100%;
  padding: 40px;
  border-radius: 5px;
}
.btn {
  width: 100%;
  background: #009cff;
  font-size: 20px;
  padding: 11px;
  color: #fff;
  border: 0px;
  margin: 10px 0px 20px;
}
.btn:hover {
  color: #fff;
  opacity: 0.8;
}

 On mouse-over, add a grey background color */
 /* .custom-checkbox:hover input ~ .checkmark {
  background-color: #747474;
}
@media (max-width: 767px) {
  .account-login {
    width: 80%;
    margin: auto;
  } */

/* }
@media (max-width: 767px) {
  .login-form {
    width: 70%;
    margin: auto;
  }

p {
  text-align: center;
}  */ 
